.transactionHistory {
  margin: 30px auto;
  width: 900px;
  color: black;
  text-align: center;

  border-collapse: collapse;
  border: 1px solid rgb(199, 193, 193);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

th {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background-color: #00bcd4;
  border: 1px solid rgb(182, 178, 178);
}

td {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: rgb(87, 86, 90);
  border: 1px solid rgb(172, 167, 167);
}

tr:nth-child(even) {
  background-color: #e3eef1;
}
